.fluid-span-1 {
  width: 18.4%;
}

.fluid-span-2 {
  width: 38.8%;
}

.fluid-span-3 {
  width: 59.2%;
}

.fluid-span-4 {
  width: 79.6%;
}

.fluid-span-5 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 20.4%;
}

.fluid-offset-2 {
  margin-left: 40.8%;
}

.fluid-offset-3 {
  margin-left: 61.2%;
}

.fluid-offset-4 {
  margin-left: 81.6%;
}

